{% extends "base.html" %}

{% block main %}
<h1>The Payments page</h1>
  <form id="payment-form" method="post" action="." autocomplete="off">
    {% csrf_token %}
    <p>Payments are safely processed with <a href='https://www.braintreepayments.com/' target='_blank'>Braintree</a>.</p>
    {% if form.errors %}
      <div>
          FORM {{ form.errors|safe }}
      </div>
    {% endif %}
    {{ form.as_table }}    
  </form>

<div id="dropin-container"></div>
<button id="submit-button">Pay Now</button>
  
{% endblock %}

{% block extrajs %}
<script src="https://js.braintreegateway.com/web/dropin/1.19.0/js/dropin.min.js"></script>
<script>
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
      authorization: "{{ form.braintree_client_token }}",
      container: '#dropin-container'
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (err, payload) {
          if (err == null) {
            document.forms["payment-form"]["id_payment_method_nonce"].value = payload.nonce;
            document.getElementById('payment-form').submit();
          }
        });
      });
    });
  </script>
</script>
{% endblock extrajs %}

